#boardDetail {
    width: 100%;
}

#titleBar {
    display: flex;
    gap: 20px;
    background-color: #f1f2f4;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

#left {
    display: flex;
    gap: 20px;
    background-color: #f1f2f4;
    align-items: center;
    padding: 10px;
}

.titleButton {
    width: 80px;
    height: 25px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    color: #78797a;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.titleButton:hover {
    background-color: #78797a;
    color: white
}

#filterButton {
    width: 80px;
    height: 25px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    color: #78797a;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#filterButton:hover {
    background-color: #78797a;
    color: white
}

#taskList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
    width: 100%;
    align-items: flex-start;
}

.taskCard {
    width: 272px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #f1f2f4;
    padding: 10px;
    border-radius: 6px;
}

#addList {
    width: 272px;
    display: flex;
    background-color: #f1f2f4;
    padding: 10px;
    border-radius: 6px;
}

.headCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskItem {
    background-color: white;
    width: 256px;
    padding: 4px;
    border-radius: 6px;
}

.label {
    border-radius: 6px;
    width: 90%;
    height: 30px;
}

i {
    cursor: pointer;
}