header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}

#icon {
    align-items: center;
    padding: 10px;
    width: 240px;
    border-right: 3px solid gainsboro;
}

#icon h1 {
    font-weight: bold;
    color: red;
    font-size: 20px;
}